.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 6%;
}
.button{
    display: flex;
    justify-content: space-between;
    margin:4% 10%;
}
.button h2{
    margin: 0;
}
.button button{
    height: fit-content;
    padding: 2% 2%;
}